.item1 {
  grid-area: blocklyDiv;
}
.item2 {
  grid-area: HTMLPage;
}
.item3 {
  grid-area: switch;
}
.item4 {
  grid-area: infoImpressum;
}


.grid-container{
  display: grid;
  grid-area: auto;
  background-color: #beff95;
  grid-template-areas:

    'blocklyDiv HTMLPage switch'
    'blocklyDiv HTMLPage infoImpressum'
}

.button{
  border-color: #100cff;
  background-color: white;
  border-style: solid;
  border-radius: 8px;
  margin-bottom: 0.5vh;
  display: inline-block;
  cursor: pointer;
}

.buttonInfo{
  border-color: #28913d;
  background-color: white;
  border-style: dotted;
  border-width: medium;
  border-radius: 15px;
  margin-bottom: 0.5vh;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.closeButton{
  position: absolute;
  top: 2px;
  right: 0;
  border: none;
  background-color: #e1e1e1;
  cursor: pointer;
}

.BastelPopup {
  background:#e1e1e1;
  margin: 0 auto;
  width:40vw;
  height:66vh;
  position:relative;
  z-index:41;
  top: 10%;
  padding:30px;
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
  box-shadow:0 0 10px rgba(0,0,0,0.4);
}

.popup-container{
  display:grid;
  grid-template-columns: 10vw 6vw 5vw 6vw 10vw;
}

.left-arrow{
  grid-column: 2 / 3;
  align-content: center;
}

.right-arrow{
  grid-column: 4 / 6;
  align-content: center;
}

.arrow-button{
  border: none;
  background-color: #e1e1e1;
  cursor: pointer;
  font-size: 50px;
}

#blocklyDiv {
  height: 97vh;
  width: 45vw;
  display: grid;
  background-color: whitesmoke;
}

#CodePreviewDiv{
  height: 97vh;
  width: 45vw;
  background-color: whitesmoke;
  display: grid;
  overflow: scroll;
}

#switchDiv{
  height: 60vh;
  width: 3vw;
  margin-bottom: 3vh;
}

#infoImpressumDiv{
  height: 6vh;
  width: 3vw;
  font-family: Arial, serif;
  font-size: 12px;
}

#infoPopup {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility:visible;
  display:none;
  background-color: rgba(22,22,22,0.5);
}

