/* grid für die Aufteilung der Aufgabenstellung-Page */

.element1 {grid-area: bildSchuldirektor;}
.element2 {grid-area: sprechblase;}
.element3 {grid-area: schreibmaschinenText;}
.element4 {grid-area: aufgabenstellung;}


.grid-container1{
  display: grid;
  grid-template-areas:
    'bildSchuldirektor sprechblase'
    'schreibmaschinenText schreibmaschinenText'
    'aufgabenstellung aufgabenstellung';
  gap: 20px;
}

#bildSchuldirektor {
  width: 2vw;
  display: grid;
}

#sprechblase{
  width: 80vw;
  display: grid;
  margin-bottom: 2px;
  position: page;
}

#schreibmaschinenText{
  width: 90vw;
  margin-bottom: 20px;
}

#aufgabenstellung {
  position: relative;
  width: 99vw;
  display: grid;
}
