/* grid für die Aufteilung der Aufgabenstellung-Page */

.element1 {grid-area: bildSchuldirektor;}
.element2 {grid-area: sprechblase;}
.element3 {grid-area: schreibmaschinenText;}
.element5 {grid-area: bildSchuldirektor2;}
.element6 {grid-area: sprechblase2;}



.grid-container1{
  display: grid;
  grid-template-areas:
    'bildSchuldirektor sprechblase'
    'schreibmaschinenText schreibmaschinenText'
    'bildSchuldirektor2 sprechblase2';
  gap: 20px;
}

#bildSchuldirektor {
  width: 2vw;
  display: grid;
}

#sprechblase{
  width: 80vw;
  display: grid;
  margin-bottom: 2px;
  position: page;
}

#schreibmaschinenText{
  width: 90vw;
  margin-bottom: 20px;
}

#aufgabenstellung {
  position: relative;
  width: 99vw;
  display: grid;
}
#bildSchuldirektor2 {
  width: 2vw;
  display: grid;
}

#sprechblase2{
  width: 80vw;
  display: grid;
  margin-bottom: 2px;
  position: page;
}
