
/* grid für die Aufteilung der Hilfestellung-Page */

.element1 {grid-area: bildSekretaerin;}
.element2 {grid-area: sprechblase;}
.element3 {grid-area: hilfestellungButtons;}
.element4 {grid-area: hilfestellung}

.grid-container1{
  background-color: lemonchiffon;
  display: grid;
  grid-template-areas:
    'bildSekretaerin sprechblase sprechblase'
    'hilfestellungButtons hilfestellung hilfestellung';
    'hilfestellungButtons hilfestellung hilfestellung';
    'hilfestellungButtons hilfestellung hilfestellung';
    'hilfestellungButtons hilfestellung hilfestellung';
  gap: 10px;
}

#bildSekretaerin {
  width: 2vw;
  display: grid;
}

#sprechblase{
  height: 2vh;
  width: 70vw;
  display: grid;
}

#hilfestellungButtons{
  position: relative;
  width: 8vw;
  height: 5vh;
  <!-- background-color: lightskyblue; -->
  margin-bottom: 20px;
}

#hilfestellung{
  background-color: lemonchiffon;
  position: relative;
  display: block;
  margin-top: 10px;
}

.helpButton{
  background-color: lightgreen;
  margin-bottom: 2px;
  width: 150px;
  height: 40px;
}




