
/* grid für die Aufteilung der Hilfestellung-Page */

.item1 {
  grid-area: bildSekretaerin;
  margin-left: auto;
  margin-right: auto;
}

.item2{
  grid-area: hilfestellungButtons;
}

.item3{
  grid-area: hilfestellung;
}

.grid-container1 {
  background-color: lemonchiffon;
  display: grid;
  grid-area: auto;
  grid-template-areas: 'bildSekretaerin hilfestellungButtons' 'hilfestellung hilfestellung';
}

#bildSekretaerin {
  display: grid;
  height: 0.5vh;
  width: 15vw;
}

#hilfestellungButtons{
  display: grid;
 }

#hilfestellung{
  background-color: lemonchiffon;
  display: grid;
}

.helpButton{
  background-color: #ffbc70;
 // border-color: #100cff;
  //border-style: solid;
  //padding: 8px 25px;
  font-family: Cambria;
  font-size: 20px;
  width: 20vw;
  height: 10vh;
  text-align: center;
  border-radius: 8px;
  //margin-bottom: 0.5vh;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}



