
.item2 {grid-area: blocklyDiv;}
.item3 {grid-area: HTMLPage;}
.item4 {grid-area: HTMLCode;}
.item5 {grid-area: CodeButton;}


.grid-container{
  display: grid;
  grid-template-areas:
        'blocklyDiv HTMLPage'
        'blocklyDiv CodeButton'
        'blocklyDiv HTMLCode';
}



#blocklyDiv {
  height: 100vh;
  width: 59vw;
  display: grid;
  background-color: gold;
}



#HTMLCodeDiv{
  height: 45vh;
  width: 38vw;
  background-color: whitesmoke;
  display: grid;
  overflow: scroll;
}

#HTMLPageDiv{
  height: 45vh;
  width: 38vw;
  display: grid;
}

#CodeButtonDiv{
  height: 5vh;
  width: 38vw;
  text-align: center;
  display: inline-block;
}

#LevelSelectionDiv{
  position: relative;
  width: 98vw;
  height: 5vh;
  background-color: lightskyblue;
  margin-bottom: 20px;
}

.levelButton {
  border: none;
  color: white;
  text-align: center;
  margin-left: 5px;
  margin-top: 8px;
  cursor: pointer;
  font-size: 24px;
  background-color: lightskyblue;
}

.switchButton {
  position: absolute;
  border: none;
  color: white;
  text-align: center;
  top: 8px;
  right: 5px;
  cursor: pointer;
  font-size: 12px;
  background-color: lightskyblue;
}

.codeButton{
  border: none;
  color: orange;
  display: inline-block;
  font-size: 16px;
}

.helpButton {
  color: black;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 100%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.popup1 .popuptext1 {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 100%;
  margin-left: -80px;
}

/* Popup arrow */
.popup1 .popuptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
