
.item2 {
  grid-area: blocklyDiv;
}
.item3 {
  grid-area: HTMLPage;
}
.item4 {
  grid-area: HTMLCode;
}
.item5 {
  grid-area: CodeButton;
}
.item6 {
  grid-area: switch;
}


.grid-container{
  display: grid;
  grid-area: auto;
  background-color: #ffbc70;
  grid-template-areas:

    'blocklyDiv HTMLCode CodeButton'
    'blocklyDiv HTMLPage switch';
}

.button{
  border-color: #100cff;
  border-style: solid;
  border-radius: 8px;
  margin-bottom: 0.5vh;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.closeButton{
  position: absolute;
  top: 2px;
  right: 0;
  border: none;
  background-color: #e1e1e1;
  cursor: pointer;
}


.reveal-modal {
  background:#e1e1e1;
  margin: 0 auto;
  width:40vw;
  height:66vh;
  position:relative;
  z-index:41;
  top: 10%;
  padding:30px;
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
  box-shadow:0 0 10px rgba(0,0,0,0.4);
}

.popup-container{
  display:grid;
  grid-template-columns: 10vw 6vw 5vw 6vw 10vw;
}

.left-arrow{
  grid-column: 2 / 3;
  align-content: center;
}

.right-arrow{
  grid-column: 5 / 6;
  align-content: center;
}

.arrow-button{
  border: none;
  background-color: #e1e1e1;
  cursor: pointer;
}



#blocklyDiv {
  height: 98vh;
  width: 45vw;
  display: grid;
  background-color: whitesmoke;
}

#HTMLCodeDiv{
  height: 48vh;
  width: 45vw;
  margin-bottom: 1vh;
  background-color: whitesmoke;
  display: grid;
  overflow: scroll;
}

#HTMLPageDiv{
  height: 48vh;
  width: 45vw;
  background-color: whitesmoke;
  display: grid;
  overflow: scroll;
}

#CodeButtonDiv{
  height: 47vh;
  width: 3vw;
}

#switchDiv{

  height: 47.5vh;
  width: 3vw;
  margin-bottom: 3vh;
}


#container {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility:visible;
  display:none;
  background-color: rgba(22,22,22,0.5);
}

