.item2 {
  grid-area: blocklyDiv;
}
.item3 {
  grid-area: CodePreview;
}
.item4 {
  grid-area: DidaktikDiv;
}
.item5 {
  grid-area: CodeButton;
}
.item6 {
  grid-area: switch;
}
.item7 {
  grid-area: nextLevelButton;
}
.item8 {
  grid-area: infoImpressum;
}
.item9 {
  grid-area: restartButton;
}

.grid-container{
  display: grid;
  grid-area: auto;
  background-color: #ffbc70;
  grid-template-areas:
    'blocklyDiv DidaktikDiv CodeButton'
    'blocklyDiv DidaktikDiv nextLevelButton'
    'blocklyDiv DidaktikDiv restartButton'
    'blocklyDiv CodePreview switch'
    'blocklyDiv CodePreview infoImpressum'
}

.button{
  border-color: #100cff;
  background-color: white;
  border-style: solid;
  border-radius: 8px;
  margin-bottom: 0.5vh;
  display: inline-block;
  cursor: pointer;
}

.buttonNextLevel{
  border-color: #dc4129;
  background-color: white;
  border-style: dotted;
  border-width: medium;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}

.box {
  width: 75px;
  height: 30px;
  font-size: 13px;
  color: black;
  border-color: #dc4129;
  border-style: dotted;
  border-width: medium;
  border-radius: 15px;
  font-family: Arial, serif;
  margin-bottom: 0.5vh;
}

.buttonInfo{
  border-color: #28913d;
  background-color: white;
  border-style: dotted;
  border-width: medium;
  border-radius: 15px;
  margin-bottom: 0.5vh;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.closeButton{
  position: absolute;
  top: 2px;
  right: 0;
  border: none;
  background-color: #e1e1e1;
  cursor: pointer;
}

.Popup {
  background:#e1e1e1;
  margin: 0 auto;
  width:40vw;
  height:66vh;
  position:relative;
  z-index:41;
  top: 10%;
  padding:30px;
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
  box-shadow:0 0 10px rgba(0,0,0,0.4);
}

.popup-container{
  display:grid;
  grid-template-columns: 10vw 6vw 5vw 6vw 10vw;
}

.left-arrow{
  grid-column: 2 / 3;
  align-content: center;
}

.right-arrow{
  grid-column: 4 / 6;
  align-content: center;
}

.start{
  grid-column: 6 / 6;
  align-content: center;
}

.arrow-button{
  border: none;
  background-color: #e1e1e1;
  cursor: pointer;
  font-size: 50px;
}

.start-button{
  border-color: #28913d;
  border-width: 5px;
  border-radius: 15px;
  cursor: pointer;
  display: grid;
  background-color: whitesmoke;
  font-family: Cambria, serif;
  font-size: 16px;
  align-content: center;
}

#blocklyDiv {
  height: 97vh;
  width: 46vw;
  display: grid;
  background-color: whitesmoke;
}

#DidaktikDiv{
  height: 47vh;
  width: 45vw;
  margin-bottom: 1vh;
  background-color: whitesmoke;
  display: grid;
  overflow: scroll;
}

#CodePreviewDiv{
  height: 47vh;
  width: 45vw;
  background-color: whitesmoke;
  display: grid;
  overflow: scroll;
}

#CodeButtonDiv{
  height: 27vh;
  width: 3vw;
  margin-bottom: 3vh;
}

#nextLevelButtonDiv{
  height: 3vw;
  width: 3vw;
  margin-bottom: 1vh;
}

#restartButtonDiv{
  height: 2vw;
  width: 5vw;
  margin-bottom: 1vh;
}

#levelListeDiv{
  height: 2vw;
  width: 3vw;
}

#switchDiv{
  height: 13vh;
  width: 3vw;
  margin-bottom: 3vh;
}

#infoImpressumDiv{
  height: 6vh;
  width: 3vw;
  font-family: Arial, serif;
  font-size: 12px;
}

#startPopup {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility:visible;
  display:none;
  background-color: rgba(22,22,22,0.5);
}


