# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
/1. Zwischenpräsentation neu.pptx
/1. Zwischenpräsentation.pptx
/Aufgaben-Idee .docx
/Blockliste.xlsx
/Gutes Design Lernpage.png
/Inhaltsidee Hausl und Gscheidhaferl.docx
/Zeitplan_neu.xlsx